<layout>
  <gridLayout>
    <header rowLayout [height]="'auto'">
      Demo App
    </header>
    <rowLayout [switchSize]="'small'" style="background-color: yellow; height: 100%">
      <div columnLayout class="middle-align" [separation]="'all'" [width]="{extraSmall: 'none', small: '50%', medium: '30%'}">
      </div>
      <columnLayout>
        <!--<div class="testBox"></div>-->
        <section style="overflow-y: auto; width: 100%; height: 100%;">
        </section>
      </columnLayout>
      <!--<column-layout><div class="testBox"></div></column-layout>-->
      <columnLayout *minSize="'small'" [verticalAlignment]="'center'" [width]="{small: 'auto', medium: '30%'}">
        <input type="text"/>
        <div class="testBox"></div>
      </columnLayout>
    </rowLayout>
    <rowLayout style="background-color: black" [height]="'15%'">
      <rowLayout>
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
      </rowLayout>
    </rowLayout>
  </gridLayout>
</layout>